
<div style="position: fixed;top: 30%;left:50%;  transform: translate(-50%, -50%);background-color: darkgray;">
  <form #myForm="ngForm" (ngSubmit)="updatepass(myForm.value)" role="form">
<legend style="text-align: center;">Change password</legend>

<div class="form-group">
  <label for="">OTP</label>
  <input ngModel style="width: 300px;" type="number" class="form-control" name="otp"  id="" placeholder="123465">
</div>

<div class="form-group">
    <label for="password">new password</label>
    <input required="required" ngModel style="width: 300px;"  type="text" class="form-control" name="password" id="" placeholder="xyz@gmail.com">
  </div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>
<br>
<span *ngIf="!flag" style="color: red;">{{msg}}</span>
<a *ngIf="flag" style="color: blue;"  (click)="navigate()" >{{msg}} <br> Goto login page  </a>
</div>


