                 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
</head>
<body>
  
    <br>
    <br>
    <br>
    <br>
    <!-- Container (Contact Section) -->
    <div style="background-color:black;margin-right:20%;margin-left:20%;opacity:0.6; background-repeat: no-repeat;opacity: 0.5;">
      <div style="background-color:whitesmoke;margin-right:20%;margin-left:20%;opacity:0.6; background-repeat: no-repeat;opacity: 0.5;">
        <b><p>
        Health Care
        Yes we really care!!
       </p></b>
       </div>
               
      <h1 style="color: chartreuse; font-style: italic; font-size: 50px; font-family:'Times New Roman', Times, serif; text-align: center;" >Hello!! Welcome to Health Care</h1>

        <div id="contact" class="container-fluid bg-grey" style="color:white">
          <h1 class="text-center" style="color: white; font-family: cursive; font-family:'Times New Roman', Times, serif ;">We are at your Service</h1>
          <div class="row">
            <div class="col-sm-5" style="position: center;">
              <br><br>
              <p><span class="glyphicon glyphicon-map-marker">&nbsp;</span> Healt Care,India </p>
              <p><span class="glyphicon glyphicon-phone">&nbsp;</span>+91 8408808010</p>
              <p><span class="glyphicon glyphicon-envelope">&nbsp;</span> alandsantosh2@gmail.com</p>
              <p><span class="glyphicon glyphicon-envelope">&nbsp;</span>kusumanchi.raviteja2014@gmail.com</p>
            </div>
            </div>
            </div>
      </div>    
</body>
</html>