
<div style="background-color:whitesmoke; margin-left:30%;margin-top:15%; width:40%;opacity:0.8;">
  <h1 style="color:black;font-family: Arial, Helvetica, sans-serif;font-style: italic;text-align:center;">
     FEEDBACKLIST</h1>
  <table class="table table-responsive">
    <thead>
      <tr>
        <th  style="color:black">Feedback</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of shanmukh">
        <td  style="color:black">{{s.feedback}}</td>
      </tr>
    </tbody>
  </table>
</div>
