<div>
  <div>
    <nav class="navbar navbar-default navbar" role="navigation" style="background-color:black;">
      <ul class="nav navbar-nav">


        <li>
          <a style="color:whitesmoke" routerLink="/medicalshop">medicalshop</a>
        </li>
        <li>
        <li>
          <a style="color:whitesmoke" routerLink="/laboratory">laboratory</a>
        </li>
        <li>
          <a style="color:whitesmoke" routerLink="/userslist">userslist</a>
        </li>
        <li>
          <a style="color:whitesmoke" (click)="logout()"  >logout</a>
        </li>
      </ul>

    </nav>
  </div>


  <router-outlet></router-outlet>
  <br>

  <div class="container">

  </div>