<div style="background-color:whitesmoke; margin-left:30%;margin-top:10%; width:40%;opacity:0.9;">
<div id="highlighted" class="hl-basic hidden-xs" >
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 col-lg-10 col-lg-offset-2">
        <h1 style="color:black;font-family: Arial, Helvetica, sans-serif;font-style: italic;text-align:center;">
          FORGOT PASSWORD</h1>
      </div>
    </div>
  </div>
</div>
<div id="content" class="interior-page">
  <div class="container-fluid">
    <div class="row">
      <!--Sidebar-->
      <div class="col-sm-3 col-md-3 col-lg-2 sidebar equal-height interior-page-nav hidden-xs">
        <div class="dynamicDiv panel-group" id="dd.0.1.0">
          <div id="subMenu" class="panel panel-default">
            <ul class="subMenuHighlight panel-heading">
              <li class="subMenuHighlight panel-title" id="subMenuHighlight">
                <a id="li_291" class="subMenuHighlight" href="/register"><span><B>Register</B></span></a>
              </li>
            </ul>
            <ul class="panel-heading">
              <li class="panel-title">
                <a class="subMenu1" routerLink="/login"><span><B>Login</B></span></a>
              </li>
            </ul>
          </div>
          
        </div>
      </div>

      <!--Content-->
      <div class="col-sm-9 col-md-9 col-lg-10 content equal-height">
        <div class="content-area-right">
         
          <div class="row">
            <div class="col-md-5 forgot-form">

              <!-- <label class="label-default" for="un">Email Address</label> <input [(ngModel)]="name" style="width:300px;"type="text" class="form-control" name="email"id="email" placeholder="xyz@gmail.com"><br>
              <a id="mybad" (click)="getotp(name)" class="btn btn-primary" role="button">GET OTP</a>
            </div>
            <div class="content-crumb-div">
            
              </div> -->
              
              <form  #myForm="ngForm"  (ngSubmit)="getotp(myForm.value)" role="form" ngNativeValidate>
              
                <div class="form-group">
                  <label style="color:black" for="Email"><B>Email:</B></label>
                  <input type="email" ngModel  name="email" class="form-control"  placeholder="Input email" required>
                </div>
              
                
              
                <button type="submit"  class="btn btn-primary">Submit</button>
              </form>
              
    </div>
  </div>
</div>
</div>