<div class="heading">
  <h1 style="color:whitesmoke;font-family: Arial, Helvetica, sans-serif;font-style: italic;text-align:center;">
    DOCTORHOMEPAGE</h1>  
</div>
<div>
  <nav class="navbar navbar-default navbar" role="navigation" style="background-color:white;">
    <ul class="nav navbar-nav">
   

      <li class="active">
        <a style="background-color: whitesmoke; color:black" routerLink="/addinfodoctor">addinfo</a>
      </li>
      <li class="active">
        <a style="background-color: whitesmoke; color:black" routerLink="/forgotpassword">changepassword</a>
      </li>
      <li class="active">
        <a style="background-color: whitesmoke; color:black" routerLink="/update">update</a>
      </li>
      <li class="active">
        <a style="background-color: whitesmoke; color:black" routerLink="/medicalshoppeople">medicalshop</a>
      </li>
      <li class="active">
        <a style="background-color: whitesmoke; color:black"routerLink="/feedbacklist">listoffeedback</a>
      </li>
      <li class="active">
        <a style="background-color: whitesmoke; color:black"routerLink="/addarticle">addarticle</a>
      </li>
      <li class="active">
        <a style="background-color: whitesmoke; color:black"routerLink="/doctorapplist">Appointment Request</a>
      </li>
      <!-- <li>
        <a routerLink="/articles">articles</a>
      </li> -->

      <li>
        <a style="background-color: whitesmoke; color:black" (click)="logout()">logout</a>
      </li>
    </ul>

  </nav>
</div>
<router-outlet></router-outlet>
<br>

